<p>Hi {{name}},</p>
<p>
    Thank you for registering with us! We are pleased to inform you that your account has been successfully created.<br><br>

Below is your login information:<br><br>
Username: {{username}} <br>
Password: {{password}} <br><br>
Please ensure that you keep your password secure and do not share it with anyone else.<br><br>
If you have any questions or concerns, please feel free to contact us.<br><br>
Thank you for choosing to be a part of our community!<br><br>
Best regards,<br>
{{default}}
</p>