<p>Hi {{name}},</p>
<p>Please click on the below button to reset your password. <br><br>
<a href="{{buttonLink}}" style="display: inline-block; background-color: #007bff; color: #fff; padding: 10px 20px; text-decoration: none;">{{buttonText}}</a><br><br>
If you did not request this, please ignore this email and your password will remain unchanged. <br></p>